//popover styling

.popover .popover-header {
  color: rgb(197, 194, 194);
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
  background-color: #181b21;
  font-size: 18px;
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
  text-transform: uppercase;
  
}

.popover .popover-body {
  background-color: #21262e;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
  color: rgb(185, 182, 182);
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 1.7;
  padding: 25px;
  font-family: "Raleway", sans-serif;
  
}

.modal-body {
  background-color: black;
}
.modal-content .modal-header {
  background-color: black;
  border-bottom: none;
}
.modal-header button.close {
  padding-top: 0;
  padding-bottom: 0;
  color: white;
  font-size: 60px;
  font-weight: 300;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}
.pagination {
  font-family: "Julius Sans One", sans-serif;
  display: flex;
  font-size: 25px;
}
.pagination .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: rgb(191, 191, 191);
  background-color: transparent;
  border: none;
}
.pagination .page-link:hover {
  z-index: 2;
  color: rgb(230, 230, 230);
  text-decoration: none;
  background-color: transparent;
}

.pagination .page-item.active .page-link {
  z-index: 3;
  background-color: transparent;
  color: white;
}
.pagination .page-item.disabled .page-link {
  background-color: transparent;
}


.b-sidebar-body{
background-color:  #21262e;
color: rgb(191, 191, 191);
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";
